@import url(https://fonts.bunny.net/css?family=lobster-two:400|pinyon-script:400);

.headerog {
  width: 100vw;
  height: 50px;
  background: #f5e8c7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px 5px 0px;
  border-bottom: 2px solid #d35400;
}
.logo-container {
  margin-left: -60px;
  font-family: "Pinyon Script", handwriting;
  font-size: 1.5em;
  text-decoration: underline;
  font-weight: bold;
  color: #d35400;
}

nav {
  position: relative;
  height: 50px;
  width: 550px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lobster two";
  font-size: 1.1em;
  font-weight: 500;
}
nav a {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  font-size: 1.5em;
  color: #586e75;
  text-decoration: none;
  z-index: 1;
  transition: color 0.3s ease-in-out;
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #d35400;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

nav a:hover {
  color: #d35400;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.search-container {
  display: flex;
  margin-right: -70px;
}

.search-input {
  border: 1px solid #b58900;
  border-radius: 10px;
  width: 180px;
  padding: 8px;
  background-color: #fdf6e3;
  caret-color: #d35400;
  color: #586e75;
}

.search-button {
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-family: "Lobster Two";
  background-color: #d35400;
  color: #fdf6e3;
  padding: 7px 15px;
  margin-left: 15px;
  margin-right: 18px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #b58900;
}
